# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
*.env

# Flask instance folder
instance/
*.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

readme.txt

# Local database
site.db